<style>
    .back-button {
        display: none !Important;
    }
</style>
<ion-view view-title="Event">
  <ion-content>
                <div style="width: 100%; text-align: center">
                    <img alt="" style="margin: 0px auto; max-width: 300px;"  data-ng-src="data:image/png;base64,{{site[0].menulogo}}" />
                </div>
                <div style="margin: 0 auto; max-width: 90%; font-size: 14px; font-family: Arial; color: #5b5b5b; text-align: center;">
                    <br />

                    <h4 style="text-align: center">{{site[0].homepagecontent}}</h4>
                    <br />
                    <p>
                        Copyrights &copy; 2015
                    </p>
                    <br />
                    <br />


                </div>
  </ion-content>
</ion-view>
