<ion-view view-title="Sponsor">
  <ion-content>
    <h1>Session Information</h1>
      
      <h2>{{session[0].session}}</h2>
        <div style="margin-top: 10px; font-family: Arial; color: #5b5b5b;">
            <h3 class="media-heading" style="font-size: 18px;">{{session[0].location}}
            </h3><div style="font-weight: bold; font-size: 12px; font-style: italic;">{{session[0].sessionstartdate}}</div>
        </div>
                      

        <div style="margin-top: 10px; font-size: 12px; white-space: pre-line;" >{{session[0].sessionenddate}}</div>
  </ion-content>
</ion-view>
