<ion-view view-title="Sponsor">
  <ion-content>
    <h1>Playlist</h1>
      
      <h2>{{sponsor[0].name}}</h2>
        <div style="width: 100%; border-bottom: .4px solid silver; padding: 0px; margin: 0px;"><img alt="Sponsor Picture" src="data:image/png;base64,{{sponsor[0].photo}}" /></div>
        <div style="margin-top: 10px; font-family: Arial; color: #5b5b5b;">
            <h3 class="media-heading" style="font-size: 18px;">{{sponsor[0].name}}
            </h3><div style="font-weight: bold; font-size: 12px; font-style: italic;">{{sponsor[0].title}}</div>
        </div>
                      

        <div style="margin-top: 10px; font-size: 12px; white-space: pre-line;" >{{sponsor[0].description}}</div>
  </ion-content>
</ion-view>
